@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --margin-half: 13px;
    --margin: calc(var(--margin-half) * 2);    /* 26*/
    --margin-x2: calc(var(--margin-half) * 4); /* 52*/
    --margin-x3: calc(var(--margin-half) * 6); /*78*/
    --margin-x4: calc(var(--margin-half) * 8); /*104*/
    --margin-x5: calc(var(--margin-half) * 10);/*130*/
    --margin-x6: calc(var(--margin-half) * 12);/*156*/
    --margin-x7: calc(var(--margin-half) * 14);/*182*/
	--maincolor: #0F2500;
}

*{ scroll-behavior: smooth;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; font-family: 'Pretendard-Regular';}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; max-width: 500px; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
::-webkit-scrollbar-thumb:vertical{height:0px;}
::-webkit-scrollbar-thumb:horizontal{width:0px;}
::-webkit-scrollbar{width:0; height:0;}
html, body{ margin: 0 auto; }
h1, h2, h3, h4, h5, h6{position: relative; font-weight: normal; line-height: 1.15em;}
h1, h2, h3{ text-transform: uppercase; }
b{ font-weight: bold; }
a{ text-decoration-line: none; color: #111; }

.wrap{ margin: 0 auto; width: 100%; }
.container{ width: 100%; height: 100vh; overflow-y: scroll; }
.container.main_container{ background: var(--maincolor); }
.dn{ display: none !important; }

.title_con h2{ font-size: 24px; margin: 0; line-height: 1.25em; color: #fff; }
.title_con h3{ font-size: 22px; color: #fff; font-weight: bold; }
.title_con h4{ font-size: 14px; margin-bottom: 5px; color: #acacac; }
.title_con h5{ font-size: 10px; }

.btn_con{}
.btn_con a.btn_link{ display: flex; align-items: center; justify-content: center; margin: 0 auto; border-radius: 10px; box-shadow: 0 4px 12px -4px rgba(0, 0, 0, .25); transition: all 100ms linear; }
.btn_con a.btn_link span{}


.main_header{ position: fixed; width: 100%; max-width: 500px; z-index: 99999; background: var(--maincolor); }
.main_header .main_header_inner{ display: flex; justify-content: space-between; align-items: center; height: 30px; padding: 15px var(--margin-half); }
.main_header .main_header_inner .logo{}
.main_header .main_header_inner .logo img.logo_img{ width: 160px; }
.main_header .main_header_inner .my_profile{}
.main_header .main_header_inner .my_profile a.mypage_btn{ display: block; }
.main_header .main_header_inner .my_profile a.mypage_btn img.profile_img{ width: 30px; }

.section{ padding: var(--margin) 0; }
.section .main_inner{ padding: 0 var(--margin-half); }
.section.visual{ margin-top: 60px; }
.section.visual .title_con{ margin-bottom: var(--margin); }
.section.visual .title_con h2.main_title{}
.section.visual .visual_img{ margin-bottom: var(--margin); }
.section.visual .visual_img img.visual_image{ display: block; width: 60%; margin: 0 auto; }
.section.visual .btn_con{}
.section.visual .btn_con a.btn_link{ width: 80%; padding: 18px 0; background: #fff; }
.section.visual .btn_con a.btn_link span.btn_text{ color: #111; font-size: 16px; font-weight: bold; }

.section_1{}
.section_1 .invest_box{ background: #fff; border-radius: 15px; padding: var(--margin); }
/* result_con */
.section_1 .invest_box .result_con{ display: flex; align-items: center; gap: 10px; }
.section_1 .invest_box .result_con .result_left{ max-width: 65%; }
.section_1 .invest_box .result_con .result_left p.result_title{ margin-bottom: var(--margin-half); font-size: 15px; color: #454545; }
.section_1 .invest_box .result_con .result_left .money_con{ margin-bottom: var(--margin-half); }
.section_1 .invest_box .result_con .result_left .money_con span.money{ font-size: 14px; word-wrap: break-word; }
.section_1 .invest_box .result_con .result_left .money_con span.money b.num{ font-size: 30px; margin-right: 3px; }
.section_1 .invest_box .result_con .result_left .result_pro{}
.section_1 .invest_box .result_con .result_left .result_pro span{ font-size: 13px; color: #666; }
.section_1 .invest_box .result_con .result_left .result_pro span.no{}
.section_1 .invest_box .result_con .result_left .result_pro span.percent{}
.section_1 .invest_box .result_con .result_left .result_pro span.percent b.percent_no{ font-weight: lighter; }
.section_1 .invest_box .result_con .result_right{ margin-left: auto; }
.section_1 .invest_box .result_con .result_right{}
.section_1 .invest_box .result_con .result_right .btn_con{}
.section_1 .invest_box .result_con .result_right .btn_con a.btn_link{ padding: 8px 13px; background: #e9e9e9; }
.section_1 .invest_box .result_con .result_right .btn_con a.btn_link span.btn_text{ font-size: 14px; color: #565656; }
/* goods_con */
.section_1 .invest_box .goods_con{ opacity: 1; height: auto; transition: opacity 250ms, height 250ms; overflow: hidden; padding-top: var(--margin); }
.section_1 .invest_box .goods_con.no{ opacity: 0; height: 0; padding: 0; }
.section_1 .invest_box .goods_con p.goods_title{ margin-bottom: var(--margin-half); font-size: 15px; color: #454545; padding-top: var(--margin); border-top: 1px solid #cdcdcd; }
.section_1 .invest_box .goods_con .goods_box{}
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con{}
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list{ display: flex; align-items: center; gap: 5px; margin-bottom: var(--margin-half); }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list:last-child{ margin-bottom: 0; }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods_logo{ width: 40px; }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods_logo img.goods_img{ width: 38px; }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods{ display: flex; flex-direction: column; gap: 5px; width: calc(100% - 45px); }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods p.goods_list_title{ font-size: 11px; color: #999; }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods .goods_list_no{ display: flex; gap: 5px; }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods .goods_list_no span{ font-size: 14px; }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods .goods_list_no span b{ font-weight: lighter; }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods .goods_list_no span.goods_list_number{ width: 30%; word-wrap: break-word; }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods .goods_list_no span.goods_list_number b.goods_list_num{}
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods .goods_list_no span.goods_list_money{ margin-left: auto; width: 70%; text-align: right; word-wrap: break-word; }
.section_1 .invest_box .goods_con .goods_box ul.my_goods_con li.my_goods_list .goods .goods_list_no span.goods_list_money b.goods_money_num{}
.section_1 .invest_box .arrow_btn{ margin-top: var(--margin-half); }
.section_1 .invest_box .arrow_btn img.arrow_img{ display: block; margin: 0 auto; width: 20px; transition: transform 250ms ease-out; }
.section_1 .invest_box .arrow_btn img.arrow_img.rotate{ transform: rotate(180deg); transform: center; }

.section_2{}
.section_2 .main_inner{}
.section_2 .notice_box{}
.section_2 .notice_box h3.notice_title{ font-size: 22px; font-weight: bold; color: #fff; margin-bottom: var(--margin-half); }
.section_2 .notice_box .notice_con{}
.section_2 .notice_box .notice_con ul.notice_list_box{}
.section_2 .notice_box .notice_con ul.notice_list_box li.notice_list{}
.section_2 .notice_box .notice_con ul.notice_list_box li.notice_list a.notice_link{ display: flex; gap: 5px; align-items: center; background: #ffd1d1; border-radius: 15px; padding: var(--margin-half) var(--margin); }
.section_2 .notice_box .notice_con ul.notice_list_box li.notice_list a.notice_link .notice_title_con{ display: flex; flex-direction: column; max-width: 80%; gap: var(--margin-half); }
.section_2 .notice_box .notice_con ul.notice_list_box li.notice_list a.notice_link .notice_title_con span{ width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.section_2 .notice_box .notice_con ul.notice_list_box li.notice_list a.notice_link .notice_title_con span.notice_sub{ font-size: 11px; }
.section_2 .notice_box .notice_con ul.notice_list_box li.notice_list a.notice_link .notice_title_con span.notice_main{ font-size: 14px; }
.section_2 .notice_box .notice_con ul.notice_list_box li.notice_list a.notice_link .notice_img_con{ margin-left: auto; max-width: 20%; }
.section_2 .notice_box .notice_con ul.notice_list_box li.notice_list a.notice_link .notice_img_con img.notice_img{ width: 50px; display: block; }
.section_2 .notice_box .notice_con .swiper-pagination{ position: static; margin-top: 5px; }
.section_2 .notice_box .notice_con .swiper-pagination-bullet {background: #a9a9a9;}
.section_2 .notice_box .notice_con .swiper-pagination-bullet-active {background: #ddd;}

.section_3{}
.section_3 .main_inner{}
.section_3 .promotion_con{}
.section_3 .promotion_con ul.promotion_list_box{}
.section_3 .promotion_con ul.promotion_list_box li.promotion_list{}
.section_3 .promotion_con ul.promotion_list_box li.promotion_list a.promotion_link{}
.section_3 .promotion_con ul.promotion_list_box li.promotion_list a.promotion_link img.promotion_bg_img{ width: 100%; border-radius: 15px; }
.section_3 .promotion_con .swiper-pagination{ width: auto; left: var(--margin); bottom: var(--margin); }
.section_3 .promotion_con .swiper-pagination-bullet {background: #acacac;}
.section_3 .promotion_con .swiper-pagination-bullet-active {background: #fff;}

.section_4{}
.section_4 .main_inner{}
.section_4 .goodluxe_goods_box{}
.section_4 .goodluxe_goods_box .title_con{ margin-bottom: var(--margin); }
.section_4 .goodluxe_goods_box .title_con h4.sub_title{}
.section_4 .goodluxe_goods_box .title_con h3.main_title{}
.section_4 .goodluxe_goods_box .box{ border-radius: 15px; padding: var(--margin-half); }
.section_4 .goodluxe_goods_box .box_1{ background: #3a4152; margin-bottom: var(--margin-half); }
.section_4 .goodluxe_goods_box .box_2{ background: #32415d; }
.section_4 .goodluxe_goods_box .box .box_title{ position: relative; margin-bottom: var(--margin-half); }
.section_4 .goodluxe_goods_box .box .box_title img.box_bg{ display: block; margin: 0 auto; width: 130px; opacity: .3; filter: blur(3px); }
.section_4 .goodluxe_goods_box .box .box_title span.box_subject{ position: absolute; top: 50%; width: 100%; text-align: center; font-weight: bold; color: #fff; font-size: 22px; }
.section_4 .goodluxe_goods_box .box .box_main{ background: #fff; border-radius: 10px; padding: var(--margin); }
.section_4 .goodluxe_goods_box .box .box_main .box_main_title{ margin-bottom: var(--margin-half); }
.section_4 .goodluxe_goods_box .box .box_main .box_main_title span.box_main_subject{ display: block; font-size: 18px; font-weight: bold; margin-bottom: 5px; }
.section_4 .goodluxe_goods_box .box .box_main .box_main_title p.box_main_sub{ display: inline-block; font-size: 9px; padding: 5px; background: #eaeaea; border-radius: 5px; color: #565656; }
.section_4 .goodluxe_goods_box .box .box_main .box_main_data{ display: flex; margin-bottom: var(--margin-half); }
.section_4 .goodluxe_goods_box .box .box_main .box_main_data .box_data{ display: flex; flex-direction: column; gap: 7px; }
.section_4 .goodluxe_goods_box .box .box_main .box_main_data .box_data span.data_title{ font-size: 11px; color: #777; }
.section_4 .goodluxe_goods_box .box .box_main .box_main_data .box_data span.data_main{ font-size: 16px; font-weight: bold; }
.section_4 .goodluxe_goods_box .box .box_main .box_main_data .box_data_money{ padding: 5px var(--margin) 5px 0; border-right: 1.5px solid #dfdfdf; margin-right: var(--margin); }
.section_4 .goodluxe_goods_box .box .box_main .box_main_data .box_data_money span.data_money_title{}
.section_4 .goodluxe_goods_box .box .box_main .box_main_data .box_data_money span.data_money{}
.section_4 .goodluxe_goods_box .box .box_main .box_main_data .box_data_deadline{ padding: 5px 0; }
.section_4 .goodluxe_goods_box .box .box_main .box_main_data .box_data_deadline span.data_deadline_title{}
.section_4 .goodluxe_goods_box .box .box_main .box_main_data .box_data_deadline span.data_deadline{}
.section_4 .goodluxe_goods_box .box .box_main .gage_bar{}
.section_4 .goodluxe_goods_box .box .box_main .gage_bar progress{ width: 100%; appearance: none; height: 10px; }
.section_4 .goodluxe_goods_box .box .box_main .gage_bar progress::-webkit-progress-bar { background: #f0f0f0; border: 1px solid #eeeeee; border-radius: 12px; overflow: hidden; height: 10px; }
.section_4 .goodluxe_goods_box .box .box_main .gage_bar progress::-webkit-progress-value { background: #545454; border-radius: 0px; height: 10px; }
.section_4 .goodluxe_goods_box .box .box_main .gage_bar .gage{ display: flex; justify-content: space-between; margin-top: 5px; }
.section_4 .goodluxe_goods_box .box .box_main .gage_bar .gage .gage_data{ font-size: 0; }
.section_4 .goodluxe_goods_box .box .box_main .gage_bar .gage .gage_data span.now_gage_data{ font-size: 12px; color: #676767; }
.section_4 .goodluxe_goods_box .box .box_main .gage_bar .gage .gage_data span.total_gage_data{ font-size: 12px; color: #acacac; }
.section_4 .goodluxe_goods_box .box .box_main .gage_bar .gage span.status{ font-size: 12px; color: #676767; }

.section_5{}
.section_5 .main_inner{}
.section_5 .news_box{}
.section_5 .news_box .title_con{ margin-bottom: var(--margin); }
.section_5 .news_box .title_con h4.sub_title{}
.section_5 .news_box .title_con h3.main_title{}
.section_5 .news_box .news_con{}
.section_5 .news_box .news_con ul.news_list_con{}
.section_5 .news_box .news_con ul.news_list_con li.news_list{ position: relative; display: flex; justify-content: space-between; align-items: center; gap: 5%; padding: var(--margin); margin-bottom: 15px; border-radius: 15px; }
.section_5 .news_box .news_con ul.news_list_con li.news_list .list_title_con{ width: 60%; }
.section_5 .news_box .news_con ul.news_list_con li.news_list .list_title_con h3.news_sub_title{ color: #fff; font-size: 15px; font-weight: bold; word-break: keep-all; margin-bottom: var(--margin-half); }
.section_5 .news_box .news_con ul.news_list_con li.news_list .list_title_con h2.news_main_title{ color: #fff; font-size: 22px; word-break: keep-all; font-weight: bold; line-height: 1.25em; }
.section_5 .news_box .news_con ul.news_list_con li.news_list .list_img_con{ width: 35%; }
.section_5 .news_box .news_con ul.news_list_con li.news_list .list_img_con img.list_img{ display: block; margin: 0 auto; width: 80px; }
.section_5 .news_box .news_con ul.news_list_con li.news_list.list_1{ background: #ff7449; }
.section_5 .news_box .news_con ul.news_list_con li.news_list.list_2{ background: #f09657; }
.section_5 .news_box .news_con ul.news_list_con li.news_list.list_3{ background: #e48a00; }
.section_5 .news_box .news_con ul.news_list_con li.news_list.list_4{ background: #00246e; }

/* 페이지 header */
.page_header{ position: fixed; width: 100%; max-width: 500px; z-index: 99999; background: #fff; }
.page_header .header_inner{ display: flex; justify-content: space-between; align-items: center; height: 30px; padding: 15px var(--margin-half); }
.page_header .header_inner a.back_btn{ cursor: pointer; }
.page_header .header_inner a.back_btn img.back_img{ width: 25px; }
.page_header .header_inner span.page_title{ position: absolute; left: 50%; transform: translateX(-50%); font-size: 16px; font-weight: bold; }

/* mypage */
.mypage_header{}
.mypage_header .header_inner a.setting_btn img.setting_img{ width: 25px; }
.mypage_content{ margin-top: 60px; padding-top: var(--margin-half); }
.mypage_content .mypage_inner{ padding: 0 var(--margin-half); }
.mypage_content a.name_box{ display: flex; justify-content: space-between; align-items: center; padding: var(--margin); border: 1px solid #dfdfdf; border-radius: 15px; margin-bottom: var(--margin-half); }
.mypage_content a.name_box span.mypage_name{ font-size: 16px; font-weight: bold; }
.mypage_content a.name_box img.right_arrow{ width: 15px; }
.mypage_content .account_content{ background: #3579f2; border-radius: 15px; margin-bottom: var(--margin-half); }
.mypage_content .account_content a.account_link{ display: block; padding: var(--margin); }
.mypage_content .account_content a.account_link .account_box{ display: flex; align-items: center; gap: 10px; margin-bottom: var(--margin-half); }
.mypage_content .account_content a.account_link .account_box img.bank_img{ width: 15px; }
.mypage_content .account_content a.account_link .account_box span.bank_account{ font-size: 14px; color: #fff; }
.mypage_content .account_content a.account_link .account_box .clipboard{ background: #1752b8; padding: 7px 10px; border-radius: 15px; color: #fff; font-size: 11px; }
.mypage_content .account_content a.account_link .account_box img.right_arrow{ width: 15px; margin-left: auto; }
.mypage_content .account_content a.account_link .account_money_con{ display: flex; align-items: center; gap: var(--margin-half); margin-bottom: var(--margin-half); }
.mypage_content .account_content a.account_link .account_money_con img.won_img{ width: 22px; }
.mypage_content .account_content a.account_link .account_money_con span.money{ color: #fff; font-size: 16px; }
.mypage_content .account_content a.account_link .account_money_con span.money b.account_money{ font-size: 30px; margin-right: 3px; }
.mypage_content .account_content a.account_link .account_btn_con{ display: flex; gap: 5px; justify-content: end; }
.mypage_content .account_content a.account_link .account_btn_con .account_btn{ background: #1752b8; padding: 12px 15px; border-radius: 10px; color: #fff; font-size: 13px; }
.mypage_content .account_content a.account_link .account_btn_con .deposit_btn{}
.mypage_content .account_content a.account_link .account_btn_con .withdraw_btn{}
.mypage_content .point_content{ background: #2baa8c; border-radius: 15px; margin-bottom: var(--margin-half); }
.mypage_content .point_content a.point_link{ display: block; padding: var(--margin); }
.mypage_content .point_content a.point_link .point_box{ display: flex; justify-content: space-between; align-items: center; margin-bottom: var(--margin-half); }
.mypage_content .point_content a.point_link .point_box span.use_point{ font-size: 16px; font-weight: bold; color: #fff; }
.mypage_content .point_content a.point_link .point_box img.right_arrow{ width: 15px; }
.mypage_content .point_content a.point_link .point_money_con{ display: flex; align-items: center; gap: var(--margin-half); margin-bottom: var(--margin-half); }
.mypage_content .point_content a.point_link .point_money_con img.point_img{ width: 22px; }
.mypage_content .point_content a.point_link .point_money_con span.point{ color: #fff; font-size: 16px; }
.mypage_content .point_content a.point_link .point_money_con span.point b.point_money{ font-size: 25px; margin-right: 3px; }
.mypage_content .point_content a.point_link .point_btn_con{ display: flex; gap: 5px; justify-content: end; }
.mypage_content .point_content a.point_link .point_btn_con .point_btn{ background: #13736f; padding: 12px 15px; border-radius: 10px; color: #fff; font-size: 13px; }
.mypage_content .lux_content{ background: #fae9d9; border-radius: 15px; margin-bottom: var(--margin-x2); }
.mypage_content .lux_content a.lux_link{ display: block; padding: var(--margin); }
.mypage_content .lux_content a.lux_link .lux_box{ display: flex; justify-content: space-between; align-items: center; margin-bottom: var(--margin-half); }
.mypage_content .lux_content a.lux_link .lux_box span.my_lux{ font-size: 16px; font-weight: bold; color: #745243; }
.mypage_content .lux_content a.lux_link .lux_box img.right_arrow{ width: 15px; filter: invert(46%) sepia(77%) saturate(500%) hue-rotate(348deg) brightness(97%) contrast(86%); }
.mypage_content .lux_content a.lux_link .lux_num_con{ display: flex; align-items: center; gap: var(--margin-half); }
.mypage_content .lux_content a.lux_link .lux_num_con span.lux{ color: #745243; font-size: 16px; }
.mypage_content .lux_content a.lux_link .lux_num_con span.lux b.lux_num{ font-size: 30px; margin-right: 3px; }
.mypage_content .menu_box{ padding: 0 var(--margin-half) var(--margin); }
.mypage_content .menu_box.invest_box{ margin-bottom: var(--margin); border-bottom: 1.5px solid #efefef; }
.mypage_content .menu_box.service_box{ padding-bottom: var(--margin-x2); }
.mypage_content .menu_box span.menu_title{ display: block; font-size: 16px; font-weight: bold; margin-bottom: var(--margin); }
.mypage_content .menu_box ul.menu_con{}
.mypage_content .menu_box ul.menu_con li.menu_list{ margin-bottom: var(--margin); }
.mypage_content .menu_box ul.menu_con li.menu_list:last-child{ margin-bottom: 0; }
.mypage_content .menu_box ul.menu_con li.menu_list a.menu_link{ display: block; width: 100%; font-size: 15px; }

/* point */
.point_header{}
.my_point_content{ margin-top: 60px; }
.my_point_content .point_ctg_box{ border-bottom: 1px solid #eaeaea; }
.my_point_content .point_inner{ padding: 0 var(--margin); }
.my_point_content .point_ctg_box ul.point_ctg{}
.my_point_content .point_ctg_box ul.point_ctg li.point_ctg_list{ display: inline-block; padding: var(--margin-half) 0; cursor: pointer; }
.my_point_content .point_ctg_box ul.point_ctg li.point_ctg_list:first-child{ margin-right: var(--margin); }
.my_point_content .point_ctg_box ul.point_ctg li.point_ctg_list.active{ border-bottom: 2px solid #111; }
.my_point_content .point_ctg_box ul.point_ctg li.point_ctg_list span.point_ctg_title{ color: #bdbdbd; font-size: 14px; font-weight: bold; }
.my_point_content .point_ctg_box ul.point_ctg li.point_ctg_list.active span.point_ctg_title{ color: #111; }
.my_point_content .tab_content{ display: none; padding: var(--margin); }
.my_point_content .tab_content.active{ display: block; }
.my_point_content .tab_content .no_history{ position: absolute; top: 50%; left: 50%; transform: translateX(-50%); display: flex; flex-direction: column; gap: var(--margin-half); align-items: center; }
.my_point_content .tab_content .no_history img.tab_img{ width: 100px; }
.my_point_content .tab_content .no_history span.ment{ font-size: 14px; font-weight: bold; }
.my_point_content .tab_content a.goodluxe_point{ display: flex; justify-content: space-between; align-items: center; padding: 15px; border: 1px solid #dfdfdf; border-radius: 10px; }
.my_point_content .tab_content a.goodluxe_point span.point_ment{ font-size: 14px; font-weight: bold; }
.my_point_content .tab_content a.goodluxe_point img.right_arrows{ width: 15px; }

/* setting */
.setting_header{}
.setting_content{ margin-top: 60px; }
.setting_content .setting_inner{ padding: var(--margin); }
.setting_content .security_menu{ padding-bottom: var(--margin); border-bottom: 1px solid #efefef; margin-bottom: var(--margin); }
.setting_content .security_menu span.menu_title{ display: block; font-size: 16px; font-weight: bold; margin-bottom: var(--margin); color: #a6a6a6; }
.setting_content .security_menu ul.menu_con{}
.setting_content .security_menu ul.menu_con li.menu_list{ margin-bottom: var(--margin); }
.setting_content .security_menu ul.menu_con li.menu_list:last-child{ margin-bottom: 0; }
.setting_content .security_menu ul.menu_con li.menu_list a.menu_link{ font-size: 15px; }
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn{ display: flex; justify-content: space-between; align-items: center; }
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn span.btn_title{}
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .menu_button{}
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .version{ color: #0054FF; }
.setting_content .logout_box{}
.setting_content .logout_box ul.menu_con{}
.setting_content .logout_box ul.menu_con li.menu_list{}
.setting_content .logout_box ul.menu_con li.menu_list.logout_menu{ margin-bottom: var(--margin); }
.setting_content .logout_box ul.menu_con li.menu_list .logout{ cursor: pointer; color: #ff3636; }
.setting_content .logout_box ul.menu_con li.menu_list a.secession{}
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .toggle_btn{ position: relative; }
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .toggle_btn input[type=checkbox]{ position: absolute; visibility: hidden; }
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .toggle_btn input.toggles[type=checkbox]{ display: none; }
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .toggle_btn label{ position: absolute; height: 20px; width: 35px; display: block; top: 0; bottom: 0; left: 0; right: 0; z-index: 9999; cursor: pointer; margin: 0 auto; }
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .toggle_btn .switch{ position: relative; display: inline-block; width: 32px; height: 19px; background-color: hsl(0, 0%, 85%); border-radius: 25px; cursor: pointer; transition: background-color 250ms ease-in; }
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .toggle_btn input[type=checkbox]:checked ~ .switch{ background: #0054FF; }
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .toggle_btn .switch .button{ display: block; position: absolute; top: 4px; left: 4px; width: 11px; height: 11px; background: #fff; border-radius: 50%; transition: all 250ms ease-out; }
.setting_content .security_menu ul.menu_con li.menu_list .menu_btn .toggle_btn input[type=checkbox]:checked ~ .switch .button{ left: 17px; }

/* tax */
.tax_header{}
.tax_content{ margin-top: 60px; }
.tax_content .tax_inner{ padding: var(--margin); }
.tax_content .tax_box{ padding-bottom: var(--margin); }
.tax_content .tax_box .tax_title_box{ margin-bottom: var(--margin-half); }
.tax_content .tax_box .tax_title_box h2.tax_title{ font-size: 20px; font-weight: bold; margin-bottom: 5px; }
.tax_content .tax_box .tax_title_box .info_title{ display: flex; align-items: center; gap: 3px; }
.tax_content .tax_box .tax_title_box .info_title h4.tax_sub{ font-size: 14px; color: #797979; }
.tax_content .tax_box .tax_title_box .info_title img.info_img{ width: 17px; }
.tax_content .tax_box a.tax_con_box{ display: flex; align-items: center; gap: var(--margin-half); padding: var(--margin); border: 1px solid #dfdfdf; border-radius: 15px; }
.tax_content .tax_box a.tax_con_box img.exclamation_img{ width: 15px; }
.tax_content .tax_box a.tax_con_box span.tax_text{ font-size: 15px; }
.tax_content .tax_box a.tax_con_box img.arrow_img{ width: 15px; margin-left: auto; }
