@charset "UTF-8";

@media all and (min-width:0px) and (max-width:599px){
	.main_header .main_header_inner{ height: 30px; }
	.main_header .main_header_inner .logo img.logo_img{ width: 130px; }
}

@media all and (min-width:0px) and (max-width:479px){
    :root{
        --margin-half: 10px;
    }
    .title_con h2{font-size: 22px;}
    .title_con h3{font-size: 14px;}
    .title_con h4{font-size: 11px;}
    .title_con h5{font-size: 10px;}
    .title_con h6{font-size: 9px;}
}
@media all and (min-width:480px) and (max-width:599px){
    :root{
        --margin-half: 12.5px;
    }
    .title_con h2{font-size: 22px;}
    .title_con h3{font-size: 14px;}
    .title_con h4{font-size: 11px;}
    .title_con h5{font-size: 10px;}
    .title_con h6{font-size: 9px;}
}